body{
    background-color: rgb(177, 32, 61);
}

nav{
    background-color: rgb(4, 183, 49);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}

a{
    color: rgb(242, 233, 233);
    text-decoration: none;
    border: 2px solid rgb(242, 223, 233);
    margin-right: 70px;
}
.carousel{
    display: block;
    width: 950px;
    margin: 0 auto;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(242, 233, 233);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
p{
    text-align: center;
    color: rgb(242, 233, 233);
}
.form-row{
    text-align: center;
    
}
.form-row-button{
    margin-left: 50px;
}